<div class="marker-popup-wrapper">
  <div class="popup-name">
    <span>
      <%= name %>
    </span>
    <img src="<%= iconUrl %>" />
  </div>
  <div class="popup-content">
    <%- desc %>
  </div>
</div>