@use "./reset.scss" as *;
@use "./base.scss" as *;

#app {
  overflow: hidden;

  width: 100vw;
  height: 100vh;

  .leaflet-container {
    background-color: var(--map-bg-color);

    .leaflet-control-zoom {
      position: fixed;
      right: 20px;
      bottom: 200px;

      border: none;

      a {
        width: 40px;
        height: 40px;

        border: none;

        &.leaflet-control-zoom-in {
          margin-bottom: 20px;

          background: url("../images/mapZoomPlus.png");
          background-size: cover;
        }

        &.leaflet-control-zoom-out {
          background: url("../images/mapZoomReduce.png");
          background-size: cover;
        }
      }
    }

    .leaflet-marker-icon .marker-wrapper {
      display: flex;
      align-items: center;
      flex-flow: column;

      width: max-content;
      min-width: 110px;

      transform: translate3d(-39px, -27px, 0);

      .marker-name {
        color: #fff;
        text-shadow: 2px 2px 2px #333;
      }

      img {
        width: 30px;
        height: 30px;
      }
    }

    .leaflet-popup-content-wrapper > .leaflet-popup-content {
      width: 320px !important;
    }

    .leaflet-popup-content-wrapper .marker-popup-wrapper {
      .popup-name {
        display: flex;
        align-items: center;

        color: #fff;

        font-size: 14px;
        font-weight: var(--font-weight-bold);
        line-height: 1;

        img {
          width: 20px;
          height: 20px;
          margin-left: 6px;
        }
      }
    }

    .leaflet-popup-content-wrapper,
    .leaflet-popup-tip {
      color: #c6c6c6;
      background-color: #222226;
    }

    .leaflet-popup-close-button {
      top: 10px;
      right: 10px;

      font-size: 24px;
    }
  }
}
